body { 
    color: black; 
    padding-left: 30%;
    padding-right: 30%;
}

@media (max-width: 1030px) {
    body { 
        color: black; 
        padding-left: 6%;
        padding-right: 6%;
    }
}

nav a:visited {
    color: blue;
    background-color: black;
}

nav a:hover {
    color: green;
    background-color: black;
}

nav a { color: red; }

input[type=text]:focus {
    outline: none;
    color: blue;
    border: 2px solid rgb(0, 0, 225);
    border-radius: 1px;
}

input[type=checkbox]:checked {
    accent-color: blue;
}

input[type=checkbox]:checked + .checkbox-label {
    font-weight: bold;
  }

button[type=submit]:disabled {
    color: rgb(180, 180, 255);
}

#galeria li {
    list-style-type: square;
}

#galeria img {
    height: 100px;
    width: 100px;
    object-fit: cover;
}

#galeria li:nth-child(odd) {
    background-color: yellow;
}

#galeria-div {
    border: 1px dashed black;
    border-radius: 20px
}

#galeria-cabecalho {
    text-align: center;
    color: red;
    text-shadow: 3px 2px 2px grey;
}

#saiba-mais {
    width: fit-content;
    display: block;
    margin: auto;
    border: 1px solid grey;
    border-radius: 8px;
    padding: 6px;
    color: black;
    text-decoration: none;
}

#saiba-mais:active { 
    box-shadow: inset 0 0 4px black;
    font-size: 15px;
}

